body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  border-style: solid;
  border-color: white
}

.content {
  background: #e3f4ff;
  border-style: solid;
  border-color: white
}

.button-container {
  background: #e3f4ff;
  border-style: solid;
  border-color: white
}

button {
  background: white;
  border: 1px solid #eee;
  border-color: white;
  display: block;
  margin: 5px auto;
}